@font-face {
    font-family: "MoriaCitadel";
    src: url(assets/fonts/MoriaCitadel.woff);
    src: url(assets/fonts/MoriaCitadel.TTF) format("truetype");
  }

body {
    background-image: url(assets/images/Magic-background.jpg) ;
}

* {
    color: aliceblue;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "MoriaCitadel", "sans-serif";
}

h1, h2 {
    /*background-color: #b95120;*/
    padding: 0.5em;
    margin-bottom: 0em !important;
    color: black;
}

h3 {
    /*background-color: #bc4f3e;*/
    padding: 0.5em;
    color: #c8ad7f;
}

/* HEADER */

.logoHeader {
    width: 3em;
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-color: red;
}

/* Introduction */

#introduction {
    text-align: center;
}

/* Project */

.scholarProjectTitle, .mainProjectTitle {
    text-align: center;
}

.carousel-inner {
    height: 55em;
}

.d-block  {
    display: block;
     width: 60%;
     height: 45em;
     margin: auto;    
     background-color: white;
}

.carousel-caption {
    bottom: -7.75rem !important; 
}

.carousel-indicators .active {
    background-color: cyan !important;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: black;
}

h5 {
    text-decoration: underline;
}

/* Contact */

#contact {
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
    color: #fff;
    background: transparent;
    overflow: hidden;
    border-top: 1px solid rgba(255, 49, 49, 0.5);
    border-right: 1px solid rgba(0, 255, 255, 0.5);
    border-bottom: 1px solid rgba(57, 255, 20, 0.5);
    border-left: 1px solid rgba(255, 255, 113, 0.5);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}

.contactForm {
    padding: 2em;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.top, .bottom {
  position: absolute;
  border-radius: 100vmax;
}

.top {
  top: 0;
  left: 0;
  width: 0;
  height: 5px;
  background: linear-gradient(
    90deg,
    transparent 50%,
    rgba(255, 49, 49, 0.5),
    rgb(255, 49, 49)
  );
}

.bottom {
    right: 0;
    bottom: 0;
    height: 5px;
    background: linear-gradient(
      90deg,
      rgb(57, 255, 20),
      rgba(57, 255, 20, 0.5),
      transparent 50%
    );
  }

.top {
  animation: animateTop 3s ease-in-out infinite;
}

.bottom {
    animation: animateBottom 3s ease-in-out infinite;
  }


@keyframes animateTop {
  25% {
    width: 100%;
    opacity: 1;
  }

  30%,
  100% {
    opacity: 0;
  }
}

@keyframes animateBottom {
    0%,
    50% {
      opacity: 0;
      width: 0;
    }
  
    75% {
      opacity: 1;
      width: 100%;
    }
  
    76%,
    100% {
      opacity: 0;
    }
  }

/* Footer */